{% extends "base.html" %}

{% block title %}MyNote{% endblock title %}

{% block body %}
<div class="container">
    <br><br><br>
    <h2> Welcome to MyNote</h2>
    <br><br>
    <button type="button" class="btn btn-dark"><a href="/addNote" style="text-decoration:none; color:white">Add New Note </a></button>
    
    <br><br>
    <button type="button" class="btn btn-dark"><a href="/viewNotes" style="text-decoration:none; color:white">View Notes </a></button>  </div>
{% endblock body %}